@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;800&display=swap');
*{
    box-sizing: border-box;
    font-family:'Manrope', sans-serif;
    margin:0;
}
body{
    
}
.content-bkg{
    position: absolute;
    top:0;
    width:100vw;
    height: 100vh;
    background-color:hsl(230, 100%, 99%);
}
.upper-bg{
    background-color: #F1F5FE;
    width:100vw;
    height:55%;
    border-bottom-left-radius: 150px;
}

.wrapper{
    margin:0 auto;
    width:40rem;
    /* background-color: aqua; */
}

.heading{
    text-align: center;
    /* letter-spacing: -0.4px; */
}
.heading div{
    margin-bottom: 0.5rem;
}
.main-h h1{
    font-weight: 800;
}
.main-h-d{
    font-size: 1rem;
    font-weight: 600;
    color:hsl(225, 20%, 60%);
}
.d-flex-sp{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.f-start{
  align-items: flex-start;
}
.pos-abs{
    position: absolute;
    
}
.heading-bg{
    width: 100%;
}
.heading-bg svg{
    margin:0 auto;
    z-index: -1;

}
.f-c{
    flex-direction: column;
}
.d-flex-c{
    display: flex;
    justify-content:center;
   
}
.main-content{
    /* background-color: pink; */
    width: 35rem;
    margin:0 auto;
    position: relative;
    margin-top:20%;
}
.box-content-wrapper{
    background-color: white;
    border-radius: 10px;;
    margin-top:5rem;
    height: 25rem;
    width: 100%;
    box-shadow: 1px 3px 20px 0px rgb(65 65 65 / 13%);
}
.mgt-1{
    margin-top:1rem;
}
.box-content{
    padding:2rem;
    width: 95%;
    font-size: 1rem;
    color:hsl(225, 20%, 60%);
    font-weight: 800;
    margin:0 auto;
    height: 100%;
}
.pg-views-count{
    letter-spacing: 1px;
}
.price{
    font-weight: 800;
    font-size: 2rem;
    color:black;
}
.main-slider > input {
    width:100%;
}

#toggle-btn .switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 26px;
  }
  
  #toggle-btn .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  #toggle-btn .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(223, 50%, 87%);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  #toggle-btn .slider::before{
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  #toggle-btn input:checked + .slider {
    background-color: hsl(174, 77%, 80%)
  }
  
  #toggle-btn input:focus + .slider {
    box-shadow: 0 0 1px hsl(14, 92%, 95%);
  }
  
  #toggle-btn input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  #toggle-btn .slider.round {
    border-radius: 34px;
  }
  
  #toggle-btn .slider.round:before {
    border-radius: 50%;
  }
.billing{
 font-size: 0.85rem;

}
.no-visibility{
    background-color: hsl(225, 20%, 60%);
    width:90px;
    visibility: hidden;
}
.mgt-2{
    margin-top: 2rem;
}
.mgt-3{
    margin-top: 3rem;
}








/* .attribution {
font-size: 11px;
text-align: center;
}

.attribution a {
color: hsl(228, 45%, 44%);
} */



/* range input */

.main-slider {
    width: 100%; /* Width of the outside container */
  }
  
  
  .range-slider {
    -webkit-appearance: none; 
    appearance: none;
    width: 100%; 
    height: 7px; 
    border-radius: 10px;
    background: hsl(224, 65%, 95%);
    background:linear-gradient(90deg,hsl(174, 77%, 80%) 50%,hsl(224, 65%, 95%) 50%) ;
    outline: none; 
    
  }
  
  /* Mouse-over effects */
  .range-slider:hover {

    background-color: hsl(174, 99%, 29%);
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .range-slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 40px; /* Set a specific slider handle width */
    height: 40px; /* Slider handle height */
    border-radius: 50%;
    background-color: hsl(174, 86%, 45%); /* Green background */
    
    background-image: url("/images/icon-slider.svg");
    background-repeat: no-repeat;
    background-position:center;
    z-index: 10;
    box-shadow: 0px 9px 30px -3px hsl(174, 86%, 45%);
    cursor: pointer; 
  }
  
  .range-slider::-moz-range-thumb {
    width: 40px; /* Set a specific slider handle width */
    height: 40px; /* Slider handle height */
    border-radius: 50%;
    background-color: hsl(174, 86%, 45%); /* Green background */
    cursor: pointer; 
    background-image: url("/images/icon-slider.svg");
    background-repeat: no-repeat;
    background-position:center;
    z-index: 10;
    cursor: pointer; 
  }
  .discount-text p{
    background-color: hsl(14, 92%, 95%);
    padding: 2px;
      font-weight: 800;
      color:hsl(15, 100%, 70%);
      font-size: 0.7rem;
  }
  .mgb-2{
      margin-bottom: 2rem;
  }
  .bottom-separater{
    width: 100%;
    opacity: 0.15;
    position: relative;
    top:-130px;
  }
.bottom-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  .feature{
      margin-bottom: 0.4rem;
      font-size: small;
      font-weight: 600;
  }
  .feature svg{
      margin-right: 10px;
  }
  .trial-btn{
      margin-top:1rem;
      width:10rem;
      height:2.1rem;
      border-radius:100px;
      border: none;
      color:hsl(226, 100%, 87%);
      background-color: hsl(227, 35%, 25%);
      cursor: pointer;
      outline: none;
      
  }
  .trial-btn:hover{
    color:white;
  }